@font-face {font-family:Hotpoint; font-weight:300; font-style:normal; font-display:swap; src:url("fonts/Hotpoint/Hotpoint-Light.ttf") format("truetype")}
@font-face {font-family:Hotpoint; font-weight:400; font-style:normal; font-display:swap; src:url("fonts/Hotpoint/Hotpoint-Regular.ttf") format("truetype")}
@font-face {font-family:Hotpoint; font-weight:500; font-style:normal; font-display:swap; src:url("fonts/Hotpoint/Hotpoint-Medium.ttf") format("truetype")}
@font-face {font-family:Hotpoint; font-weight:700; font-style:normal; font-display:swap; src:url("fonts/Hotpoint/Hotpoint-Bold.ttf") format("truetype")}

.land-washing-wrapper,
.land-washing-wrapper *,
.land-washing-wrapper *::before,
.land-washing-wrapper *::after {outline:none; box-sizing:border-box; font-family:Hotpoint, sans-serif; letter-spacing:0}

.land-washing-wrapper {background:#FFFFFF; position:relative; overflow:hidden; width:100%}

@media (max-width:1167px) {
    .land-washing-wrapper.full {padding-bottom:40px}
}

.land-washing-container {margin:0 auto; max-width:1168px; width:100%; position:relative}

@media (max-width:1167px) {
    .land-washing-container {padding:0 10px}
}

.land-washing-welcome {position:relative; display:flex; align-items:center; justify-content:center; height:450px; background:#000000 url(../img/land-washing-welcome.jpg) no-repeat center; background-size:cover}
.land-washing-welcome::before {content:""; position:absolute; left:0; top:0; right:50%; bottom:0; margin-right:-32px; background:linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.536) 27.5%, rgba(201, 155, 105, 0.376) 75%, rgba(201, 155, 105, 0) 100%)}
.land-washing-welcome-title {font-weight:500; font-size:36px; line-height:50px; color:#FFFFFF}
.land-washing-welcome-text {margin:20px 0 0 0; font-weight:normal; font-size:20px; line-height:30px; color:#FFFFFF}
.land-washing-welcome-btn {margin:25px 0 0 0; display:flex}
.land-washing-welcome-btn a {display:flex; align-items:center; justify-content:center; border:1px solid #C99B69; padding:0 24px; color:#C99B69; font-weight:500; font-size:16px; line-height:16px; height:43px; border-radius:4px; text-decoration:none; transition:background 0.2s, color 0.2s, border-color 0.2s; text-transform:uppercase}
@media (min-width:1168px) {
    .land-washing-welcome-btn a:hover {color:#FFFFFF; border-color:#C99B69; background:#C99B69}
}
.land-washing-welcome-notice {margin:25px 0 0 0; font-weight:normal; font-size:16px; line-height:24px; color:rgba(255, 255, 255, 0.5)}

@media (max-width:1167px) {
    .land-washing-welcome {display:block; height:563px; padding:20px 0 0 0; text-align:center; background:#000000 url(../img/land-washing-welcome-mobile.jpg) no-repeat center top; background-size:1168px 563px}
    .land-washing-welcome::before {bottom:auto; margin-right:0; right:0; height:320px; background:linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.536) 53.65%, rgba(201, 155, 105, 0.376) 81.65%, rgba(201, 155, 105, 0) 100%)}
    .land-washing-welcome-title {font-size:24px; line-height:29px}
    .land-washing-welcome-text {margin:10px 0 0 0; font-size:15px; line-height:23px}
    .land-washing-welcome-btn {margin:15px 0 0 0; justify-content:center}
    .land-washing-welcome-btn a {color:#FFFFFF; border-color:#FFFFFF}
    .land-washing-welcome-notice {margin:15px 0 0 0; font-size:12px; line-height:18px}
}

.land-washing-menu {background:#000000; padding:40px 0}
.land-washing-menu-list {display:flex; align-items:center; justify-content:center}
.land-washing-menu-item {font-weight:500; font-size:16px; line-height:24px}
.land-washing-menu-item a {color:rgba(255, 255, 255, 0.6); text-decoration:none; transition:color 0.2s}
@media (min-width:1168px) {
    .land-washing-menu-item a:hover {color:#FFFFFF}
}
.land-washing-menu-sep {margin:0 60px; width:1px; height:24px; background:rgba(255, 255, 255, 0.6)}

@media (max-width:1167px) {
    .land-washing-menu {display:none}
}

.land-washing-design {background:#000000}
.land-washing-design-container {position:relative; height:500vh}
.land-washing-wrapper.full .land-washing-design-container {height:calc(500vh - 149px)}
.land-washing-design-bg {position:absolute; left:50%; top:17.44vh; width:220vh; height:68.11vh; margin:0 0 0 -110vh; background:url(../img/land-washing-desing-bg.png) no-repeat center; background-size:cover}
.land-washing-design-container.fixed .land-washing-design-bg {position:fixed}
.land-washing-wrapper.full .land-washing-design-container.fixed .land-washing-design-bg {top:calc(17.44vh + 149px)}
.land-washing-design-screen {position:absolute; left:0; top:0; right:0; transition:opacity 0.1s; display:flex; justify-content:center}
.land-washing-design-container.fixed .land-washing-design-screen {position:fixed}
.land-washing-wrapper.full .land-washing-design-container.fixed .land-washing-design-screen {top:149px}
.land-washing-design-title {position:absolute; left:0; top:6.66vh; right:0; text-align:center; font-weight:500; font-size:36px; line-height:50px; color:#FFFFFF; transition:opacity 0.1s}
.land-washing-design-container.fixed .land-washing-design-title {position:fixed}
.land-washing-wrapper.full .land-washing-design-container.fixed .land-washing-design-title {top:calc(6.66vh + 149px)}
.land-washing-design-title-2 {opacity:0}
.land-washing-design-title-3 {opacity:0}
.land-washing-design-title-4 {opacity:0}
.land-washing-design-title-5 {opacity:0}
.land-washing-design-screen-1 img {margin:17.55vh 0 0 0; width:133.33vh; transform-origin:center 5vh; transition:opacity 0.1s, transform 0.1s; max-width:none}
.land-washing-design-screen-3 img {margin:17.55vh 0 0 0; width:133.33vh; transform-origin:center 5vh; transition:opacity 0.1s, transform 0.1s; opacity:0; max-width:none}
.land-washing-design-screen-4 img {margin:28.44vh 0 0 0; width:121.11vh; transition:opacity 0.1s; opacity:0; max-width:none}
.land-washing-design-screen-5 img {margin:28.44vh 0 0 0; width:136.77vh; transition:opacity 0.1s; opacity:0; max-width:none}

@media (max-width:1167px) {
    .land-washing-wrapper.full .land-washing-design-container {height:calc(500vh - 52px)}
    .land-washing-design-bg {top:36.25vh; width:125vh; height:38.69vh; margin:0 0 0 -62.5vh}
    .land-washing-wrapper.full .land-washing-design-container.fixed .land-washing-design-bg {top:calc(36.25vh + 52px)}
    .land-washing-design-title {top:9.37vh; font-size:24px; line-height:29px; left:10px; right:10px}
    .land-washing-wrapper.full .land-washing-design-container.fixed .land-washing-design-title {top:calc(9.37vh + 52px)}
    .land-washing-design-title br {display:none}
    .land-washing-design-screen {top:0}
    .land-washing-wrapper.full .land-washing-design-container.fixed .land-washing-design-screen {top:0}
    .land-washing-design-screen-1 img {margin:31.25vh 0 0 0; width:91.25vh; transform-origin:60vh 5vh}
    .land-washing-design-screen-3 img {margin:31.25vh 0 0 0; width:91.25vh; transform-origin:60vh 5vh}
    .land-washing-design-screen-4 img {margin:38.28vh 0 0 0; width:49.84vh}
    .land-washing-design-screen-5 img {margin:40.15vh 0 0 0; width:53.43vh}
}

.land-washing-techs {background:#000000; padding:70px 0 120px 0}
.land-washing-techs-title {text-align:center; font-weight:500; font-size:36px; line-height:50px; color:#FFFFFF}
.land-washing-techs-list {margin:60px -10px 0 -10px}
.land-washing-techs-list .swiper-slide {width:33.33%; height:auto; display:flex}
.land-washing-techs-item {margin:0 10px; background:#1A1A1A; border-radius:12px; padding:20px}
.land-washing-techs-item-icon {display:flex; justify-content:center}
.land-washing-techs-item-icon img {display:block; height:60px; fill:#C99B69}
.land-washing-techs-item-title {margin:20px 0 0 0; font-weight:500; font-size:20px; line-height:28px; text-align:center; color:#FFFFFF}
.land-washing-techs-item-text {margin:20px 0 0 0; font-weight:normal; font-size:16px; line-height:22px; text-align:center; color:#FFFFFF}
.land-washing-techs-list-ctrl {display:none}

@media (max-width:1167px) {
    .land-washing-techs {padding:0 0 60px 0}
    .land-washing-techs-title {font-size:24px; line-height:29px}
    .land-washing-techs-list {margin:40px 15px 0 15px}
    .land-washing-techs-list .swiper {overflow:visible}
    .land-washing-techs-list .swiper-slide {width:100%}
    .land-washing-techs-item {margin:0 5px}
    .land-washing-techs-item-title {margin:15px 0 0 0}
    .land-washing-techs-item-text {margin:10px 0 0 0; font-size:14px; line-height:20px}
    .land-washing-techs-list-ctrl {position:relative; margin:40px 10px 0 10px; display:flex; justify-content:space-between; align-items:flex-end}
    .land-washing-techs-list .swiper-button-prev,
    .land-washing-techs-list .swiper-button-next {position:relative; display:block; z-index:2; top:50%; min-width:20px; max-width:20px; height:20px; left:auto; top:auto; right:auto; border:none; border-radius:0; margin:0; padding:0; outline:none; -webkit-appearance:none; cursor:pointer; background:none; transform:none; opacity:1}
    .land-washing-techs-list .swiper-button-prev::after,
    .land-washing-techs-list .swiper-button-next::after {display:none}
    .land-washing-techs-list .swiper-button-prev {left:auto}
    .land-washing-techs-list .swiper-button-next {right:auto}
    .land-washing-techs-list .swiper-button-prev svg,
    .land-washing-techs-list .swiper-button-next svg {display:block; width:20px; height:20px; fill:#C99B69}
    .land-washing-techs-list .swiper-pagination.swiper-pagination-horizontal {display:flex; position:relative; margin:0 10px; width:auto; left:auto; top:auto; right:auto; bottom:auto; align-items:center; justify-content:center}
    .land-washing-techs-list .swiper-pagination.swiper-pagination-horizontal .swiper-pagination-bullet {display:block; min-width:5px; max-width:5px; height:5px; background:#D9D9D9; opacity:1; margin:0 0 0 30px; border-radius:50%; cursor:pointer; position:relative; transition:min-width 0.2s, max-width 0.2s, height 0.2s, background 0.2s}
    .land-washing-techs-list .swiper-pagination.swiper-pagination-horizontal .swiper-pagination-bullet:first-child {margin:0}
    .land-washing-techs-list .swiper-pagination.swiper-pagination-horizontal .swiper-pagination-bullet-active {min-width:10px; max-width:10px; height:10px; background:#C99B69; opacity:1}
}

.land-washing-catalogue {padding:120px 0 60px 0}
.land-washing-wrapper.full .land-washing-catalogue {padding-bottom:0}
.land-washing-catalogue-logo {display:flex; justify-content:center}
.land-washing-catalogue-logo img {width:142px}
.land-washing-catalogue-title {margin:20px 0 0 0; text-align:center; font-weight:500; font-size:36px; line-height:50px; color:#000000}
.land-washing-catalogue-list {position:relative}
.land-washing-catalogue-list-wrapper {position:relative; overflow:hidden}
.land-washing-catalogue-list-inner {margin:0 auto; width:448px}
.land-washing-catalogue-list .swiper {overflow:visible}
.land-washing-catalogue-list .swiper-slide {width:100%; padding:60px 0}
.land-washing-catalogue-item {background:#FFFFFF; padding:60px 60px 44px 60px; background:#FFFFFF; border-radius:12px; transition:box-shadow 0.2s, transform 0.2s}
.land-washing-catalogue-list .swiper-slide-active .land-washing-catalogue-item {box-shadow:0px 0px 60px rgba(0, 0, 0, 0.2); opacity:1}
.land-washing-catalogue-list .swiper-slide-prev .land-washing-catalogue-item {transform:translateX(16px)}
.land-washing-catalogue-list .swiper-slide-next .land-washing-catalogue-item {transform:translateX(-16px)}
.land-washing-catalogue-item-preview img {display:block; width:100%}
.land-washing-catalogue-item-preview-mobile {display:none}
.land-washing-catalogue-item-ctrl {margin:40px 0 0 0; display:flex; align-items:center; justify-content:center}
.land-washing-catalogue-list .swiper-slide-active .land-washing-catalogue-item-ctrl {justify-content:space-between}
.land-washing-catalogue-item-title {font-weight:500; font-size:20px; line-height:30px; color:#000000}
.land-washing-catalogue-item-link {display:none}
.land-washing-catalogue-item-link a {display:flex; align-items:center; justify-content:center; border:1px solid #C99B69; padding:0 24px; color:#C99B69; font-weight:500; font-size:16px; line-height:16px; height:43px; border-radius:4px; text-decoration:none; transition:background 0.2s, color 0.2s, border-color 0.2s; text-transform:uppercase}
@media (min-width:1168px) {
    .land-washing-catalogue-item-link a:hover {color:#FFFFFF; border-color:#C99B69; background:#C99B69}
}
.land-washing-catalogue-list .swiper-slide-active .land-washing-catalogue-item-link {display:block}
.land-washing-catalogue-list .swiper-button-prev,
.land-washing-catalogue-list .swiper-button-next {position:absolute; display:block; z-index:2; top:50%; width:30px; height:30px; border:none; border-radius:0; margin:-15px 0 0 0; padding:0; outline:none; -webkit-appearance:none; cursor:pointer; background:none; transform:none; opacity:1}
.land-washing-catalogue-list .swiper-button-prev::after,
.land-washing-catalogue-list .swiper-button-next::after {display:none}
.land-washing-catalogue-list .swiper-button-prev {left:-50px}
.land-washing-catalogue-list .swiper-button-next {right:-50px}
.land-washing-catalogue-list .swiper-button-prev svg,
.land-washing-catalogue-list .swiper-button-next svg {display:block; width:30px; height:30px; fill:#C99B69; transition:fill 0.2s}
@media (min-width:1168px) {
    .land-washing-catalogue-list .swiper-button-prev:hover svg,
    .land-washing-catalogue-list .swiper-button-next:hover svg {fill:#191919}
}
.land-washing-catalogue-list .swiper-button-prev.swiper-button-disabled,
.land-washing-catalogue-list .swiper-button-next.swiper-button-disabled {display:none}
.land-washing-catalogue-list .swiper-horizontal>.swiper-pagination-bullets,
.land-washing-catalogue-list .swiper-pagination-bullets.swiper-pagination-horizontal,
.land-washing-catalogue-list .swiper-pagination-custom,
.land-washing-catalogue-list .swiper-pagination-fraction {position:relative; left:auto; top:auto; right:auto; margin:-20px 0 0 0; color:#C99B69; font-weight:500; font-size:24px; line-height:36px}
.land-washing-catalogue-list .swiper-pagination-current {font-size:40px; line-height:60px; color:#000000}

@media (max-width:1167px) {
    .land-washing-catalogue {padding:60px 0 60px 0}
    .land-washing-catalogue-title {font-weight:normal; font-size:15px; line-height:23px}
    .land-washing-catalogue-title span {display:block; font-weight:500; font-size:24px; line-height:29px; margin:0 0 5px 0}
    .land-washing-catalogue-list {margin:-20px -10px}
    .land-washing-catalogue-list-inner {width:100%}
    .land-washing-catalogue-list .swiper-slide {padding:40px 0; transform:none !important}
    .land-washing-catalogue-item {margin:0 10px; padding:20px 10px; opacity:1}
    .land-washing-catalogue-list .swiper-slide-active .land-washing-catalogue-item {box-shadow:0px 0px 40px rgba(0, 0, 0, 0.2)}
    .land-washing-catalogue-list .swiper-slide-prev .land-washing-catalogue-item {transform:none}
    .land-washing-catalogue-list .swiper-slide-next .land-washing-catalogue-item {transform:none}
    .land-washing-catalogue-item-preview {display:none}
    .land-washing-catalogue-item-preview-mobile {display:block}
    .land-washing-catalogue-item-preview-mobile img {display:block; max-height:240px; margin:0 auto; width:auto}
    .land-washing-catalogue-item-ctrl {display:block; margin:20px 0 0 0}
    .land-washing-catalogue-item-title {text-align:center}
    .land-washing-catalogue-item-link {display:block; margin:10px 0 0 0}
    .land-washing-catalogue-list-ctrl {position:relative; margin:0 10px; display:flex; justify-content:space-between; align-items:flex-end}
    .land-washing-catalogue-list .swiper-button-prev,
    .land-washing-catalogue-list .swiper-button-next {position:relative; min-width:20px; max-width:20px; height:20px; left:auto; top:auto; right:auto; margin:0}
    .land-washing-catalogue-list .swiper-button-prev svg,
    .land-washing-catalogue-list .swiper-button-next svg {width:20px; height:20px}
    .land-washing-catalogue-list .swiper-horizontal>.swiper-pagination-bullets,
    .land-washing-catalogue-list .swiper-pagination-bullets.swiper-pagination-horizontal,
    .land-washing-catalogue-list .swiper-pagination-custom,
    .land-washing-catalogue-list .swiper-pagination-fraction {position:relative; left:auto; bottom:auto; right:auto; width:100%; font-size:16px; line-height:24px}
    .land-washing-catalogue-list .swiper-pagination-current {font-size:30px; line-height:30px}
}